-==ango
-ertifi==2020.12.5
-jango==3.2.5
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anyio==2.2.0
argon2-cffi==20.1.0
asgiref==3.4.1
astroid==2.6.5
async-generator==1.10
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.3
bleach==3.3.0
brotlipy==0.7.0
cbor==1.0.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
chest==0.2.3
click==7.1.2
clyent==1.2.2
colorama==0.4.4
conda==4.9.2
conda-build==3.18.11
conda-package-handling==1.7.2
conda-verify==3.4.2
cryptography==3.3.1
cycler==0.10.0
Cython==0.29.23
decorator==4.4.2
defusedxml==0.7.0
deprecation==2.1.0
Django==3.2.5
django-contrib-comments==1.9.0
django-crispy-forms==1.12.0
django-registration-redux==2.2
entrypoints==0.3
filelock==3.0.12
future==0.18.2
glob2==0.7
HeapDict==1.0.1
idna==2.10
ijson==3.1.4
imageio==2.9.0
importlib-metadata==2.0.0
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
ir-datasets==0.3.3
ir-measures==0.1.4
isort==5.9.2
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.4.1
jupyterlab==3.0.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.3.0
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
libarchive-c==2.9
lxml==4.6.3
lz4==3.1.3
MarkupSafe==1.1.1
matchpy==0.5.4
matplotlib==3.4.2
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
more-itertools==8.8.0
mpmath==1.2.1
multiset==2.1.1
navigator-updater==0.2.1
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.4.3
networkx==2.5.1
notebook==6.2.0
nptyping==1.4.2
numpy==1.20.3
olefile==0.46
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.2
parso==0.8.1
patsy==0.5.1
pickleshare==0.7.5
Pillow==8.1.1
pip==21.0.1
pkginfo==1.7.0
prometheus-client==0.9.0
prompt-toolkit==3.0.16
psutil==5.8.0
pycosat==0.6.3
pycparser==2.20
Pygments==2.8.0
pyjnius==1.3.0
pylint==2.9.5
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
python-terrier==0.6.0
pytrec-eval-terrier==0.5.1
pytz==2021.1
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==22.0.3
QtPy==1.9.0
requests==2.25.1
ruamel-yaml==0.15.87
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.6.3
Send2Trash==1.5.0
setuptools==52.0.0.post20210125
six==1.15.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.2
sqlparse==0.4.1
statsmodels==0.12.2
sympy==1.8
terminado==0.9.2
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2021.4.8
toml==0.10.2
torch==1.8.1
tornado==6.1
tqdm==4.56.0
traitlets==5.0.5
trec-car-tools==2.5.4
typed-ast==1.4.3
typing-extensions==3.10.0.0
typish==1.9.2
urllib3==1.26.3
warc3-wet==0.2.3
warc3-wet-clueweb09==0.2.5
wcwidth==0.2.5
webencodings==0.5.1
wget==3.2
wheel==0.36.2
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
xmltodict==0.12.0
zipp==3.4.0
zlib-state==0.1.3
