#loginbox{
    width:100%;
    height:190px;
    background-color:#eeeeee;
}

#wordbox3{
    margin-left:7%;
}

#loginbox2{
    background-color: #ffffff;
    height:200px;
    width:80%;
    margin-top:4%;
    margin-left:7%;
    margin-bottom: 7%;
    font-size:25px;
}