#rbox1{
    background-color: #eeeeee;
    height:190px;
}

#wordbox2{
    margin-left:7%;
}

#rbox2{
    background-color:#ffffff
    ;
    height:350px;
    width:80%;
    margin-left:7%;
    margin-bottom: 2%;
    font-size:20px;
}


