{% extends 'rango/base.html' %}
{% load static %}
{% block title_block %}
    About Rango

<link rel="stylesheet"  href="{%static 'css/about.css' %}" />
{% endblock %}
{% block body_block %}
<div id="title">
    <h2>About us</h2></div>
 
<table id="content">
    <tr>
        <td  id = "aboutpicture">
            
        <img src="{{ MEDIA_URL }}cat1.jpg" alt="Picture of a Cat" />

        </td>
        <td id="aboutus">
            here is COSMIC CAT. <br />
            Our team members:</br>

        </td>
    </tr></table>
<!-- <div> 
    <div id="aboutus">
        here is COMIS CAT. <br />
        Our team member:</br>
        
    </div> -->

    <!-- <div id = "aboutpicture">
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />
    </div>
</div> -->
{% endblock %}   