{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Add a New Category
{% endblock %}

{% block body_block %}
<link rel="stylesheet"  href="{%static 'css/add_category.css' %}" />

<div id = "title">
    <h1>Add a Category</h1>
</div>



<div id = "addbox2">
    <form id="category_form" method="post" action="/rango/add_category/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
                
        <input type="submit" name="submit" value="Create Category" />
    </form>
</div>
{% endblock %}