{% extends 'rango/base.html' %}

{% load static %}

{% block title_block %}
    Register
{% endblock %}


{% block body_block %}
<link rel="stylesheet"  href="{%static 'css/register.css' %}" />

<div id = "rbox1">
    <div id = "wordbox2">
        <h1>Register for Rango</h1>
        {% if registered %}
        <h2>Rango says: <strong>thank you for registering!</strong></h2>
        <a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
        {% else %}
        <h2>Rango says: <strong>register here!</strong><br /></h2>
    </div>
</div>

<div id = "rbox2">
    <form id="user_form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Register" />
    </form>
    </div>
    {% endif %}
  

{% endblock %}