{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
 <div id="searchc">
    <h2> Search Category </h2>
    </div>
    <link rel="stylesheet"  href="{%static 'css/search.css' %}" />
{% endblock %}

{% block body_block %}

<div id="title" class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Search with Webhose</h1>
    </div>
</div>


<div  id="title">
    <form class="form-inline" id="user-form" method="post" action="{% url 'rango:search' %}">
        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" type="text" size="50" name="query" id="query" value="{{ query }}" />
        

        <button id = "searchbutton" class="btn btn-primary" type="submit" name="submit">Search</button>
        </div>
    </form>
</div>
<div>
    {% if result_list %}
    <h2>Results</h2>

    <div class="list-group">
    {% for result in result_list %}
        <div class="list-group-item">
            <h3 id="itemhead" class="list-group-item-heading">
                <a id = "itemheadlink" href="{{ result.link }}">{{ result.title|safe|escape }}</a>
            </h3>
            <p   class="list-group-item-text">
                {{ result.summary|safe|escape }}
            </p>
        </div>
    {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}