{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}
<link rel="stylesheet"  href="{%static 'css/search.css' %}" />
<div id="title">
    <h2> Search Category </h2>
    </div>
<div id ="searchpage">
    
{% if categories %}
    <h2> Results</h2>
    <ul>
    {% for category in categories %}
               
        <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
    <ul>
        <strong>Nothing you want? Yon can try to search here <a href="{% url 'rango:search' %}">Search</a></strong>
    </ul>
    {% else %}
        <strong>There are no categories present. Yon can try to search here <a href="{% url 'rango:search' %}">Search</a> </strong>

{% endif %}
</div>
{% endblock %}